@import "tailwindcss";
@import "flowbite/src/themes/default";

#root {
 min-width: 100vw;
 min-height: 100vh;
 background-color: rgb(214, 243, 243);

}
.main-heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8vh;
    color: rgb(30, 144, 255);
}
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for Internet Explorer and Edge */
  * {
    -ms-overflow-style: none;
  }
  