@import "tailwindcss";
@import "flowbite/src/themes/default";

#root {
 min-width: 100vw;
 min-height: 100vh;
}
.main-heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8vh;
    color: rgb(30, 144, 255);
}
